
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Testing</h2>
<link href="~/Scripts/Datatable/jquery.dataTables.min.css" rel="stylesheet" />
<div>
    <table class="table table-bordered" id="TestDataTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
            </tr>
        </thead>
    </table>


</div>

@section scripts{
    <script src="~/Scripts/Datatable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Datatable/CommonFunction.js"></script>
    <script>
        var AjaxURL = '@Url.Action("GetTableData", "Home")';
        var columnPropertyURL = '@Url.Action("ColumnData","Home")';
        $(document).ready(function () {
           
            //Ext1Datatable("TestDataTable", AjaxURL, "POST", ColumnNames("Name,Title"));
            Ext2Datatable("TestDataTable", true, true, AjaxURL, "POST", 10, [5, 10, 15]);
            //Ext2Datatable("TestDataTable", true, true, AjaxURL, "POST", 10, [5, 10, 15], ColumnNames("Name,Title"));
            //Ext2Datatable("TestDataTable", true, true, AjaxURL, "POST", 10, [5, 10, 15], ColumnWithCustomProperties(ColumnWithCustomProperty));


        });
       
    </script>
}