
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Testing</h2>
<link href="~/Scripts/Datatable/jquery.dataTables.min.css" rel="stylesheet" />
<div>
    <table class="table table-bordered" id="TestDataTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
            </tr>
        </thead>
    </table>


</div>

@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@


@section scripts{
    <script src="~/Scripts/Datatable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Datatable/CommonFunction.js"></script>
    <script>

        var AjaxURL = '@Url.Action("GetTableData", "Home")';
        

        $(document).ready(function () {
            CommonFunction("TestDataTable", true, true, AjaxURL, ColumnNames("Name,Title"));
        });

    </script>
}
